# Node.js dependencies for the frontend (React)
frontend/node_modules
frontend/build
frontend/.env

# Python-related files and directories (for the backend)
backend/__pycache__
backend/*.pyc
backend/*.pyo
backend/.env
backend/env
backend/venv
backend/staticfiles
backend/media

# Django-related file (shouldn't be included in the image)
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Docker files
.dockerignore
Dockerfile
docker-compose.yml

# Any other unnecessary files
README.md
